
.header {
  padding: 20px;
  background-color: rgb(236, 225, 188);
}

.profile{
  display: flex;
  justify-content: center;
}
.query {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


@media screen and (min-width: 992px) {
  .markdown {
    padding: 10em;
  }
}

@media screen and (max-width: 992px) {
  .markdown {
    padding: 2em;
  }
}
.section-title {
  margin: 5px 30px;
}

.section-title h1 {
  text-transform: capitalize;
}
.section-title h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: #c50000;
}

.section-title h1 span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

.section-title h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.section-title h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
.customed-select {
  border: 2px solid #00B4CC;
}

.instructions{
  margin: 50px;
}